HOMETUBE_POSTGRES_DB=hometube
HOMETUBE_POSTGRES_USER=hometube
HOMETUBE_POSTGRES_PASSWORD=change-me
HOMETUBE_POSTGRES_DATA=./data/postgres
HOMETUBE_MEDIA_ROOT=./data/media
HOMETUBE_WEB_PORT=3010
NEXT_PUBLIC_BASE_PATH=/hometube
WORKER_URL=http://worker:4000
WORKER_PORT=4000
WORKER_POLL_MS=1500
YTDLP_COMMAND=yt-dlp
FFMPEG_COMMAND=ffmpeg
FFPROBE_COMMAND=ffprobe

