HOMETUBE_POSTGRES_DB=hometube
HOMETUBE_POSTGRES_USER=hometube
HOMETUBE_POSTGRES_PASSWORD=change-me
HOMETUBE_POSTGRES_DATA=./data/postgres
HOMETUBE_POSTGRES_IP=172.22.0.2
HOMETUBE_NETWORK_SUBNET=172.22.0.0/16
HOMETUBE_MEDIA_ROOT=./data/media
HOMETUBE_WEB_PORT=3010
HOMETUBE_PUID=1000
HOMETUBE_PGID=1000
NEXT_PUBLIC_BASE_PATH=/hometube
WORKER_URL=http://worker:4000
WORKER_PORT=4000
WORKER_POLL_MS=1500
OPENROUTER_API_KEY=
OPENROUTER_DISCOVERY_MODEL=openrouter/auto
CHANNEL_DISCOVERY_INTERVAL_MS=604800000
CHANNEL_REFRESH_SUBSCRIBED_MS=21600000
CHANNEL_REFRESH_TRIAL_MS=86400000
YTDLP_COMMAND=yt-dlp
FFMPEG_COMMAND=ffmpeg
FFPROBE_COMMAND=ffprobe
